each message in messages
  .media
    - var callback = 'displayUserMessages("' + message.authorDetails.channelId + "\", '" + message.authorDetails.displayName + "')"
    a(
      class='pull-right'
      href='#'
      onclick=callback
    )
      img(
        class='media-object'
        src=message.authorDetails.profileImageUrl
        width=64
        hight=64
      )
    .media-body
      h4.media-heading= message.authorDetails.displayName
      p= message.snippet.displayMessage
    hr
